In [90]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [91]:
subjects = ["國文", "英文", "數甲", "數乙", "物理", "化學", "生物", "歷史", "地理", "公民"]

In [92]:
weights = {
"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
"財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
"金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
"國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
"會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
"法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
"公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
"應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
"教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
}

In [93]:
grades = np.array([86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6])

In [94]:
weight_grades = np.array(list(weights.values()))@grades

array([ 589.2  ,  642.45 ,  398.6  ,  350.35 ,  481.55 ,  461.3  ,
        436.975,  508.9  ,  570.075])

In [104]:
df1 = pd.DataFrame(list(weights.values()), index=list(weights.keys()), columns=subjects)
df1

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00

In [103]:
df2 = pd.DataFrame(weight_grades, index=list(weights.keys()), columns=["加權分數"])
df2

      加權分數
0  589.200
1  642.450
2  398.600
3  350.350
4  481.550
5  461.300
6  436.975
7  508.900
8  570.075

In [97]:
df = pd.concat([df1, df2], axis=1)
df

C:\Users\vincentkao\AppData\Local\conda\conda\envs\myenv\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

      國文   英文   數甲    數乙   物理   化學   生物   歷史   地理    公民     加權分數
土語系  2.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  1.0  0.00      NaN
會計系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  1.0  1.0  0.00      NaN
金融系  1.0  1.5  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00      NaN
財政系  1.0  1.5  0.0  1.50  0.0  0.0  0.0  0.0  0.0  0.00      NaN
國貿系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00      NaN
應數系  1.0  1.0  1.5  0.00  1.0  1.0  0.0  0.0  0.0  0.00      NaN
公行系  1.0  1.5  0.0  1.25  0.0  0.0  0.0  0.0  0.0  1.25      NaN
法律系  1.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  0.0  1.00      NaN
教育系  1.5  2.0  0.0  1.25  0.0  0.0  0.0  1.0  1.0  0.00      NaN
0    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  589.200
1    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  642.450
2    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  398.600
3    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  350.350
4    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  481.550
5    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  461.300
6    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  436.975
7    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  508.900
8    NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  570.075