# 第一題_算閏年：
請定義一個函式，讀進一個年份，輸出是不是閏年。

提示：
目前使用的格里高利曆閏年規則如下：

4的倍數是可能的。
100的倍數是不可能的。
400的倍數是可能的。

In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from ipywidgets.widgets import *
from IPython.display import display

In [3]:
def dyear(yy):
    if (((float(yy)%4)==0) and ((float(yy)%100)!=0)) or ((float(yy)%400)==0):
        print ("閏年")
    else:
        print ("非閏年")

In [4]:
interact_manual(dyear,yy="input year")

# 第二題_請實作五乘五矩陣的矩陣加法函式：
    Example:

        def matrix_plus(m1+m2):
                    .
                    .
                    .

In [5]:
def matrix_plus(m1,m2):
    x=np.matrix([m1,m2])
    return x.sum()

In [6]:
m1=np.random.randint(1,10,10)
m2=np.random.randint(5,15,10)

In [7]:
a=matrix_plus(m1,m2)

In [8]:
print (a)

138

# 第三題：考試加權分數

小明今年考大學 依照 [國, 英, 數甲, 數乙, 物, 化, 生, 歷, 地, 公]

他的分數分別是 [86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]

而他所想申請的大學各系採計的科目權重分別是

{ "土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0], "財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0], "金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0], "國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0], "會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0], "法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1], "公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25], "應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0], "教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0] } 


請幫他做出一個表格
第一欄顯示科系
接下來顯示權重 並標示科目
最後一欄顯示加權分數

範例輸出


Hint
在dataframe最左邊那欄叫index 最上面叫columns
小明的分數跟各科系權重可以直接複製上面的文字使用
表格裡面的內容可以用for迴圈跑過個科系 取出該科系的權重 然後整理成一個二維的list
加權分數的算法可以試試看直接把表格跟分數相乘 會有意想不到的結果喔
如何算加權分數可以參考影片5.4: 「用熊貓做基本數據分析」

In [9]:
col= ["國文", "英文", "數甲", "數乙", "物理", "化學", "生物", "歷史", "地理", "公民"]
weight=[86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]

In [10]:
mychoice={"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0], 
          "財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0], 
          "金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0], 
          "國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0], 
          "會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0], 
          "法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1], 
          "公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25], 
          "應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0], 
          "教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0] }

In [11]:
df=pd.DataFrame(mychoice)

In [12]:
df

    公行系  國貿系  土語系  應數系   教育系  會計系  法律系  財政系  金融系
0  1.00  1.5    2  1.0  1.50  1.5    1  1.0  1.0
1  1.50  2.0    2  1.0  2.00  2.0    2  1.5  1.5
2  0.00  0.0    0  1.5  0.00  0.0    0  0.0  0.0
3  1.25  2.0    1  0.0  1.25  2.0    1  1.5  2.0
4  0.00  0.0    0  1.0  0.00  0.0    0  0.0  0.0
5  0.00  0.0    0  1.0  0.00  0.0    0  0.0  0.0
6  0.00  0.0    0  0.0  0.00  0.0    0  0.0  0.0
7  0.00  0.0    1  0.0  1.00  1.0    1  0.0  0.0
8  0.00  0.0    1  0.0  1.00  1.0    0  0.0  0.0
9  1.25  0.0    0  0.0  0.00  0.0    1  0.0  0.0

In [13]:
df.index=col

In [14]:
df1=df.T

In [15]:
a=[]

In [16]:
for i in range(0,9):
    a.append((df[(df.columns[i])]*weight).sum())

In [17]:
a

[436.975,
 481.55,
 589.2,
 461.30000000000007,
 570.075,
 642.4499999999999,
 508.9,
 350.35,
 398.6]

In [18]:
df1

      國文   英文   數甲    數乙   物理   化學   生物   歷史   地理    公民
公行系  1.0  1.5  0.0  1.25  0.0  0.0  0.0  0.0  0.0  1.25
國貿系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00
土語系  2.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  1.0  0.00
應數系  1.0  1.0  1.5  0.00  1.0  1.0  0.0  0.0  0.0  0.00
教育系  1.5  2.0  0.0  1.25  0.0  0.0  0.0  1.0  1.0  0.00
會計系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  1.0  1.0  0.00
法律系  1.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  0.0  1.00
財政系  1.0  1.5  0.0  1.50  0.0  0.0  0.0  0.0  0.0  0.00
金融系  1.0  1.5  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00

In [19]:
df2=pd.DataFrame(a,index=df.columns,columns=['加權總分'])

In [20]:
df2

        加權總分
公行系  436.975
國貿系  481.550
土語系  589.200
應數系  461.300
教育系  570.075
會計系  642.450
法律系  508.900
財政系  350.350
金融系  398.600

In [21]:
df1

      國文   英文   數甲    數乙   物理   化學   生物   歷史   地理    公民
公行系  1.0  1.5  0.0  1.25  0.0  0.0  0.0  0.0  0.0  1.25
國貿系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00
土語系  2.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  1.0  0.00
應數系  1.0  1.0  1.5  0.00  1.0  1.0  0.0  0.0  0.0  0.00
教育系  1.5  2.0  0.0  1.25  0.0  0.0  0.0  1.0  1.0  0.00
會計系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  1.0  1.0  0.00
法律系  1.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  0.0  1.00
財政系  1.0  1.5  0.0  1.50  0.0  0.0  0.0  0.0  0.0  0.00
金融系  1.0  1.5  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00

In [22]:
df3=pd.concat([df1,df2],axis=1)

In [23]:
df3

      國文   英文   數甲    數乙   物理   化學   生物   歷史   地理    公民     加權總分
公行系  1.0  1.5  0.0  1.25  0.0  0.0  0.0  0.0  0.0  1.25  436.975
國貿系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00  481.550
土語系  2.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  1.0  0.00  589.200
應數系  1.0  1.0  1.5  0.00  1.0  1.0  0.0  0.0  0.0  0.00  461.300
教育系  1.5  2.0  0.0  1.25  0.0  0.0  0.0  1.0  1.0  0.00  570.075
會計系  1.5  2.0  0.0  2.00  0.0  0.0  0.0  1.0  1.0  0.00  642.450
法律系  1.0  2.0  0.0  1.00  0.0  0.0  0.0  1.0  0.0  1.00  508.900
財政系  1.0  1.5  0.0  1.50  0.0  0.0  0.0  0.0  0.0  0.00  350.350
金融系  1.0  1.5  0.0  2.00  0.0  0.0  0.0  0.0  0.0  0.00  398.600

# 挑戰題一_Bubble Sort
Geoffrey是個喜歡自動化的老師，某次期中考過後，他想要把學生的成績用電腦自動排序，於是他請Andrew幫忙開發這個高難度的程式…

限制：不可以使用Python內建的sort()

提示：

每回合都把該回合範圍內最小的數搬到最左邊，最後就可以排好所有的數
搬運的方式可以透過兩兩互換

In [24]:
score=np.random.randint(0,100,20)

In [25]:
score

array([16, 21, 72,  6,  9, 70, 34, 21, 92,  7, 20, 34, 53, 83, 50, 11, 24,
       79, 41, 17])

In [26]:
temp=np.zeros(len(score))

In [27]:
for i in range(len(score)):
    for j in range(len(score)-1):
        if score[j] < score[j+1]:
            temp[j] =score[j]
            score[j]=score[j+1]
            score[j+1]=temp[j]

In [28]:
print (score)

[92 83 79 72 70 53 50 41 34 34 24 21 21 20 17 16 11  9  7  6]