In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5,3), index=list(range(1,6)), columns=list("ABC"))

In [4]:
df

          A         B         C
1  0.773277 -0.090959 -0.569733
2 -0.235439  0.096166  0.896157
3  0.845553 -0.134343 -1.953305
4 -1.536689 -0.786537 -1.172253
5 -0.375257  0.226948 -0.961577

In [5]:
df[df.B>0]

          A         B         C
2 -0.235439  0.096166  0.896157
5 -0.375257  0.226948 -0.961577

In [7]:
df.loc[2:3, "B":"C"]

          B         C
2  0.096166  0.896157
3 -0.134343 -1.953305

In [8]:
df.loc[2, "B"]

0.096166332142541736

In [9]:
df.loc[2, "B"] = 1

In [10]:
df

          A         B         C
1  0.773277 -0.090959 -0.569733
2 -0.235439  1.000000  0.896157
3  0.845553 -0.134343 -1.953305
4 -1.536689 -0.786537 -1.172253
5 -0.375257  0.226948 -0.961577

In [11]:
df.loc[df.B>0, "C"] = 0

In [12]:
df

          A         B         C
1  0.773277 -0.090959 -0.569733
2 -0.235439  1.000000  0.000000
3  0.845553 -0.134343 -1.953305
4 -1.536689 -0.786537 -1.172253
5 -0.375257  0.226948  0.000000